---
import { onMount } from 'astro/client';
import initNewProductsChart from './NewProductsChart.client';

onMount(() => {
  const el = document.getElementById('new-products-chart') as HTMLElement | null;
  if (!el) return;
  initNewProductsChart(el);
});
---

<div class="w-full h-36" id="new-products-chart"></div>
