---
import { onMount } from 'astro/client';
import initTrafficByDeviceChart from './TrafficByDeviceChart.client';
let el: HTMLElement | null = null;
let controller: any;

onMount(() => {
  if (!el) return;
  controller = initTrafficByDeviceChart(el);
});
---

<div class="w-full h-64" ref={(r) => (el = r)} id="traffic-by-device"></div>
