---
import { LoginComponent } from "@/components/tsx/AuthForm/LoginComponent";
import Layout from "@/layouts/LayoutForm.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Aurora 💖</title>
    <link rel="stylesheet" href="/src/styles/Components/Main.css" />
    <link rel="stylesheet" href="/src/styles/Components/Login.css" />
  </head>
  <body>
    <Layout
      lang="en"
      title="Aurora Chat - English"
      description="AI Chat platform in English"
      canonicalUrl="https://miweb.com/en/"
      previewImage="/assets/preview.png"
    >
      <!-- Montamos el componente React solo en cliente -->
      <LoginComponent client:load lang="en" />
    </Layout>
  </body>
</html>
